<form>
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h3>Log In</h3>
    </div>
    <div class="modal-body">
        <div><input type="text" ng-model="username" placeholder="User name"/></div>
        <div><input type="password" ng-model="password" placeholder="Password"/></div>
    </div>
    <div ng-if="user.isInvalid">
        <alert class="alert-error">{{user.message}}</alert>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="doLogin(username, password)">OK</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</form>