<div class="row">
    <div class="span6">
        <h2>Users</h2>
        <table class="table">
            <tr>
                <th>Login</th>
                <th>User Type</th>
                <th>Temporary Password</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.admin_datatype}}</td>
                <td><input type="checkbox" ng-model="user.is_password_temporary"/></td>
            </tr>
        </table>

        <form>
            <fieldset>
                <legend>Create New User</legend>
                <div class="form-inline">
                    <input type="text" ng-model="username" placeholder="User Login"/>
                    <button class="btn" ng-click="createUser()">Create User</button>
                </div>
            </fieldset>

        </form>

        <div ng-show="result" class="alert alert-{{result.class}}">
            {{result.message}}
        </div>

        <div>
            <p>&nbsp;</p>
            <p>Temporary functionality for testing purposes!</p>
            <a class="btn btn-danger" target="_blank" href="http://localhost:8983/solr/noBI_admin/update?stream.body=%3Cdelete%3E%3Cquery%3E*:*%3C/query%3E%3C/delete%3E&commit=true">Delete All Users</a>

        </div>
    </div>
</div>

