<!DOCTYPE html>
<html ng-app="nobiApp" lang="en">
<head>
    <title>Qweree</title>
    <script src="js/angular-1.1.5.min.js"></script>
    <script src="js/angular-resource-1.1.5.min.js"></script>
    <script src="js/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/ui-bootstrap-tpls-0.6.0.min.js"></script>
    <script src="js/nobi.js?vx=000"></script>
    <script src="js/nobiCtrl.js?vx=000"></script>
    <script src="js/nobiBarChartVerticalOneDimensionModule.js?vx=000"></script>
    <script src="js/nobiLoginDirective.js"></script>
    <link href="css/bootstrap-2.3.1.min.css" rel="stylesheet"/>
    <link href="css/noBI.css" rel="stylesheet"/>
</head>
<body ng-controller="nobiCtrl">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="logo" href="#"></a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <form class="navbar-search pull-left">
                <input type="text" class="search-query span7" id="search_bar_top"
                       ng-model="query"
                       placeholder="Search"
                       typeahead-editable="true"
                       typeahead="x for x in suggestions($viewValue)">
                <button class="btn btn-inverse" ng:click="initializeSearch(query);">
                    Search
                </button>
            </form>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Save This Search</a></li>
                            <li><a href="#">My Saved Searches</a></li>
                            <li><a href="#">My Preferences</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Export this to .png</a></li>
                        </ul>
                    </li>
                    <li><a href="admin.html">Admin</a></li>
                    <li class="divider-vertical"></li>
                    <li>
                        <nobi-Login></nobi-Login>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="buffer"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <!-- begin facet nav -->
        <div class="span3 well" id="facetNav" ng-hide="isPristine">
            <div ng-repeat="drillPath in defaultFacetsArray">
                <br><a href="#" ng:click="toggleFacet(drillPath);"><b>{{drillPath}}</b></a>

                <div ng-if="facetSelected(drillPath)">
                    <div ng-repeat="drillValue in getFacet(drillPath) track by $index">
                        <div ng-if="showFacet($index, getFacet(drillPath));">
                            &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" ng:click="toggleFilter(drillPath, drillValue);">{{drillValue}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end facet nav -->
        <!-- begin breadcrumbs -->
        <div class="span8">
            <div ng-hide="isPristine">
                <ul class="breadcrumb">
                    <li>{{queryText}}</li>
                </ul>
                <ul class="breadcrumb" ng-repeat="f_facet in getSelectedFacetList()">
                    <li>
                        <span class="divider">&gt;</span>
                        <a href="#" ng:click="unselectFacet(f_facet);">{{f_facet}}</a>
                    </li>
                    <li ng-repeat="filter in getFiltersByFacet(f_facet)">
                        <span class="divider">&gt;</span>
                        {{filter[1]}}
                    </li>
                </ul>
            </div>

            <div id="content">
                <bar-chart height="250" data="resultStatsFacets"></bar-chart>

                <br/>

                <button class="btn btn-success" type="button" ng-show="nobiCache">Download Data</button>


                <br/><br/>

                <p ng-hide="(recommendedLinks.length == 0)">
                    You may also be interested in:
                </p>

                <p ng-repeat="recommended_link in recommendedLinks">
                    &nbsp;&nbsp;
                    <a href="{{recommended_link[1]}}" target="_blank">{{recommended_link[0]}}</a>
                </p>
            </div>


            <!--
            <p ng-repeat="facet_text in resultStatsFacets">
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng:click="initializeSearch(facet_text[0]);">{{facet_text[0]}}</a> -
                {{facet_text[1] | currency}}</p>
            -->
        </div>
    </div>
</div>
<div id="initialView" ng-show="isPristine">
    <table width=100%>
        <tr>
            <td align=center>
                <form>
                    <div class="logo-large"></div>
                    <input type="text" class="search-query span7" id="search_bar_bottom"
                           ng-change="hidePristineUI();"
                           ng-model="query" placeholder="Search">
                    <button class="btn btn-primary" ng:click="initializeSearch(query);">
                        Search
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
