body
{
    font: 14px sans-serif;
    line-height: 20px;
}
.axis path, .axis line
{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis path
{
    fill: none;
    stroke: none;
}

.axis text {
    font: 10px sans-serif;
}
.bar
{
    fill: steelblue;
}

.buffer {
    display: block;
    height: 63px;
}

.navbar-search .btn {
    margin-top: 0px;
}
a.logo {
    background: url(../img/logo.png) no-repeat 10px;
    background-size: 137px 25px;
    padding: 0;
    height: 40px;
    width: 160px;
    float: left;
    display: block;
}
.logo-large {
    background: url(../img/logo.png) no-repeat 10px;
    background-size: 220px 40px;
    background-position: center;
    height: 50px;
    display: block;
}
.modal form {
    margin-bottom: 0;
}